[defaults]
inventory         = inventory/hosts.ini
remote_user       = ec2-user
private_key_file  = ~/.ssh/devops-demo-key.pem
host_key_checking = False     # skip fingerprint prompt for fresh EC2 instances
retry_files_enabled = False
stdout_callback   = yaml      # cleaner output

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s   # speeds up multiple tasks
pipelining = True
